{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Nuova richiesta Step 2{% endblock %}

{% block menu_laterale %}
    {% include "includes/menu_supporto.html" %}
{% endblock %}

{% block app_contenuto %}

    <div class="container">

        <div class="col-md-9">

            {% if moduloRicercaInKnowledgeBase %}
                {% include 'includes/cerca_nella_kb.html' %}
            {% endif %}
            {% if modulo %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <i class="fa fa-fw fa-send"></i>
                            Nuova richiesta - (2/2)
                        </h2>
                    </div>
                    <div class="panel-body">

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form modulo %}
                            <button type="submit" class="btn btn-primary" style="float:right">
                                <i class="fa fa-fw fa-check"></i>
                                Invia richiesta
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
