{% extends "anagrafica_utente_vuota.html" %}

{% load bootstrap3 %}

{% block pagina_titolo %}Cerca nella KB{% endblock %}

{% block menu_laterale %}
    {% include "includes/menu_supporto.html" %}
{% endblock %}

{% block app_contenuto %}

    <div class="container">

        <div class="col-md-8">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-fw fa-newspaper-o"></i>
                        {{articolo.subject | safe}}
                    </h4>
                </div>
                <div class="panel-body">
                    <p>{{articolo.contents|safe}}</p>

                    {% if articolo.attachmentList %}
                    <p>
                        <strong>Allegati:</strong>
                    </p>
                    <div class="row">
                        {% for attachment in articolo.attachmentList %}
                            <div class="allinea-sinistra"  style="padding-top: 2%">
                                <div class="col-md-6">
                                    <a href="/ticket/download_kb_attachment/{{ articolo.kb_article_id}}/{{ attachment.id}}" > {{ attachment.filename }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <button class="btn btn-info" style="float:right" onclick="return window.history.back()">
                <i class="fa fa-fw fa-arrow-left"></i>
                Indietro
            </button>
        </div>
    </div>

{% endblock %}

