{% load bootstrap3 %}
    <div class="row">
        <h3>Hai bisogno di un aiuto?</h3>
        <h5>Cerca tra i nostri articoli, potresti trovare rapidamente la soluzione al tuo problema</h5>
            <form method="POST">
            {% csrf_token %}
            {% bootstrap_form moduloRicercaInKnowledgeBase %}
                <button type="submit" class="btn btn-info" style="float:right">
                <i class="fa fa-fw fa-search"></i>
                Cerca
                </button>
            </form>
    </div>