{% load bootstrap3 %}
{% load base_tags %}

<table class="table table-striped table-bordered">
    <thead>
    <th>ID Ticket</th>
    <th>Oggetto</th>
    <th>Ultimo aggiornamento</th>
    <th>Stato</th>
    </thead>

    {% for ticket in lista_ticket %}

        <tr>
            <td><a href="/ticket/dettaglio/{{ ticket.displayid }}">{{ ticket.displayid }}</a></td>
            <td>{{ ticket.subject | slice:"0:50" }}</td>
            <td>{{ ticket.lastactivity }}</td>
            <td>{{ STATUS_TICKET|hash:ticket.statusid }}</td>
        </tr>

    {% empty %}
        <tr class="info">
            <td colspan="6">
                <h4><i class="fa fa-fw fa-info-circle"></i> Al momento non ci sono ticket di questa tipologia.</h4>
            </td>
        </tr>

    {% endfor %}

</table>