{% load bootstrap3 %}
{% load base_tags %}

<table class="table table-striped table-bordered">
    <thead>
    <th>ID Ticket</th>
    <th>Oggetto</th>
    <th>Ultimo aggiornamento</th>
    <th>Dipartimento</th>
    <th>Stato</th>
    </thead>

    {% for ticket in lista_ticket %}

        <tr>
            <td><a href="/ticket/dettaglio/{{ ticket.displayid }}">{{ ticket.displayid }}</a></td>
            <td>{{ ticket.subject | slice:"0:50" }}</td>
            <td>{{ ticket.lastactivity }}</td>
            {% if ticket.departmentid in  dipartimento_mapping.keys %}
                <td>{{ dipartimento_mapping|hash:ticket.departmentid }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ STATUS_TICKET|hash:ticket.statusid }}</td>
        </tr>

    {% empty %}
        <tr class="info">
            <td colspan="6">
                <h4><i class="fa fa-fw fa-info-circle"></i> Al momento non ci sono ticket di questa tipologia.</h4>
            </td>
        </tr>

    {% endfor %}

</table>

{% if lista_ticket %}
    <div class="allinea-centro">
        <div class="pagination">
                <span class="page-links">
                    {% if pagina_corrente > 1 %}
                        <a href="?start={{ pagina_precedente }}&dipartimento={{ dipartimento_selezionato }}&stato={{ stato_selezionato }}">Precedente</a>
                    {% endif %}
                    <span class="page-current padding-15">
                        Pagina {{ pagina_corrente }}
                    </span>
                    {% if pagina_successiva %}
                        <a href="?start={{ pagina_successiva }}&dipartimento={{ dipartimento_selezionato }}&stato={{ stato_selezionato }}">Successiva</a>
                    {% endif %}
                </span>
        </div>
    </div>
{% endif %}